.product-info{
    margin: auto;
}

.product-info h3{
    font-size: 20px;
}

.product-info p{
    margin: 2.5px 0px;
    font-size: 26px;
    font-weight: 600;
}

.product-info input{
    padding: 10px;
    font-size: 24px;
    max-width: 120px;
    border: solid 2px #000;
}